<h1 style="text-align: center">User Detail</h1>

<table class="table">
  <thead>
    <tr class="table-dark">
      <th scope="col">Username</th>
      <th scope="col">Email</th>
      <th scope="col">Fullname</th>
      <th scope="col">Phone</th>
      <th scope="col">Address</th>
      <th scope="col">Gender</th>
      <th scope="col">GroupId</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td><%= data.user.username %></td>
      <td><%= data.user.email %></td>
      <td><%= data.user.fullname %></td>
      <td><%= data.user.phone %></td>
      <td><%= data.user.address %></td>
      <td><%= data.user.gender %></td>
      <td><%= data.user.groupId %></td>
    </tr>
  </tbody>
</table>
